header {
  width: 100%;
  padding: 1.5vw 3vw;
  display: flex;
  justify-content: space-between
    /*background-color: #f5f5f5;  Delete this line */
}

header h1 {
  font-weight: 400;
  font-size: 1.5vw;
  cursor: pointer;
}

header .cv-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 4vw; */
  margin-left: 10px;
}

header button {
  all: unset;
  font-size: 1vw;
}

header .cv-button:hover {
  cursor: pointer;
}

/* Responsive Design for header */
@media screen and (max-width: 768px) {
  header {
    padding: 4vw 5vw; /* Adjust padding for mobile */
  }

  header h1 {
    font-size: 5vw; /* Increase font size for smaller screens */
  }

  header button {
    display: none; /* Increase button font size for readability */
  }

  header .cv-button {
    margin-left: 5px; /* Adjust spacing for mobile */
  }
}