/* Flipaclip.css */
.project-container {
  margin-top: 3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
  color: #fffff7;
  margin-bottom: 3vh;
}

.project-card:hover {
  transform: scale(1.05);
  transition: all 0.5s ease;
  opacity: 1;
}

.project-card {
  opacity: 0.5;
  border-radius: 3vw;
  color: white;
  max-width: 40vw;
  text-align: center;
  transition: all 0.25s ease;
}

.project-card img {
  width: 100%;
  height: 60vh;
  border-radius: 3vw;
  object-fit: cover;

}

.project-footer {
  margin-top: 2vh;
  margin-bottom: 4vh;
  font-size: 1vw;
  color: #fffff7;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .project-container {
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding: 0 5vw; /* Add padding for smaller screens */
  }

  .project-card {
    max-width: 70vw; /* Increase card width for tablets */
    border-radius: 4vw; /* Adjust border-radius for a softer look */
  }

  .project-card img {
    height: 40vh; /* Reduce image height */
    border-radius: 4vw; /* Match the card’s border-radius */
  }

  .project-footer {
    font-size: 2vw; /* Increase font size for readability */
  }
}

@media screen and (max-width: 480px) {
  .project-container {
    padding: 0 3vw; /* Reduce padding for very small screens */
  }

  .project-card {
    max-width: 90vw; /* Allow the card to fill more of the screen */
    border-radius: 5vw; /* Further soften the border-radius */
  }

  .project-card img {
    height: 70vh; /* Reduce height even more for small screens */
    border-radius: 5vw; /* Match the card’s border-radius */
  }

  .project-footer {
    font-size: 3vw; /* Further increase font size */
  }
}