@import "./header.css";
@import "./project.css"; 
@import "./ProjectsSection.css"; 
@import "./video.css"; 
@import "./shortDescription.css"; 
@import "./aboutMe.css";
@import "./makeContact.css";
@import "./Strip.css";

/* Cursor */
@import "../../node_modules/mouse-follower/dist/mouse-follower.min.css"; 
@import "./customCursor.css";

.-lg { &:before { transform: scale(1.1) } }

.-white {
  color:#ffffff;
}

.-black {
  color:#000000;
}

/* Font styles */
.poppins-thin {
  font-family: "Poppins", serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", serif;
  font-weight: 900;
  font-style: italic;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;


  font-family: poppins;
  font-weight: 400;
  font-style: normal;
}

:root {
  color-scheme: light dark;
  color: #242424;
  background-color: #FFFFFF;
}


.landing-container {
  display: flex;
  justify-content: left;
  align-items: top;
  padding-left: 10%;
  margin-top: 5%;
  margin-bottom: 10%;
}

.content {
  text-align: center;
}

.landing-container h2 {
  font-size: 6vw;
}

.highlight {
  font-weight: 100;
  font-style: italic;
}

.content img { 
  margin: 0 2.5vw;
  padding: 0 1.25vw;
  width: 14vw;
  height: 8vw;
  border-radius: 40%;
  overflow: hidden;
  vertical-align: middle;
}

